---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import AmazonLogo from "../../components/AmazonLogo.astro";
import BookScore from "../../components/BookScore.astro";

export async function getStaticPaths() {
  const books = await getCollection("books");

  return books.map((book) => ({
    params: { book: book.slug },
    props: { book },
  }));
}

const { book } = Astro.props;
const { data, slug } = book;
const { title, author, img, readtime, description, buy } = data;
const { Content } = await render(book);

/* Esta pagina no se renderiza en el servidor */
export const prerender = true;
---

<Layout title={`${title} - Dev Books`}>
  <a
    href="/"
    class="absolute top-3 left-3 text-sm text-balance bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500 transition duration-200 ease-in-out hover:scale-105"
  >
    {"<-"} Regresar
  </a>
  <div class="flex flex-col gap-4">
    <h1 class="text-4xl font-bold text-center mb-6">{title}</h1>
    <div class="flex gap-6">
      <aside class="flex flex-col gap-4 items-center">
        <img
          transition:name={`img-${slug}`}
          src={`/${img}`}
          alt={title}
          class="object-cover object-center w-72 h-auto rounded-lg"
        />
        <!-- Esto es para que solo este componente se renderice en el servidor, pero se tendria que agregar el output server en la configuracion de Astro -->
        <BookScore server:defer id={slug}>
          <span slot="fallback" class="text-sm">Cargando puntuacion...</span>
        </BookScore>
        {
          SHOW_BUY_BUTTON && (
            <a
              href={buy.spain}
              title="Comprar un libro"
              target="_blank"
              rel="noopener noreferrer"
              class="text-balance inline-flex gap-2 items-center bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500 transition duration-200 ease-in-out hover:scale-105 justify-center text-center w-full"
            >
              Comprar en Amazon
              <AmazonLogo />
            </a>
          )
        }
      </aside>
      <main>
        <div class="prose prose-invert">
          <Content />
        </div>
      </main>
    </div>
  </div>
</Layout>
